<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Caregiver Manager</title>
</head>
<body>
<div align="center">
    <h1>Caregiver List</h1>
    <a href="/caregivers/new">Create New Caregiver</a>
    <br/><br/>
    <table border="1">
        <thead>
            <tr>
                <th>Caregiver ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Gender</th>
                <th>Birth Date</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="caregiver : ${listCaregivers}">
                <td th:text="${caregiver.id}">Caregiver ID</td>
                <td th:text="${caregiver.name}">Name</td>
                <td th:text="${caregiver.address}">Address</td>
                <td th:text="${caregiver.gender}">Gender</td> 
                <td th:text="${caregiver.birthDate}">Birth Date</td>
                <td><a th:href="@{/caregivers/delete/{id}(id=${caregiver.id})}">Delete</a></td>
                <td><a th:href="@{/caregivers/edit/{id}(id=${caregiver.id})}">Update</a></td>
            </tr>
        </tbody>
    </table>
    <a href="/">Back to main menu</a>
</div>   
</body>
</html>